/* font */
* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    width: 1900px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
}

.frame-img {
    width: 86.px;
    height: 40px;
    margin-top: 45px
}

.nav-tittle {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.span {
    color: #ff42a5;
}

.nav a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
}

.nav-icon {
    display: flex;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.banner {
    display: flex;
    margin: 38px 240px;
}

#youtube-icon {
    margin-top: 19px;
    width: 33px;
    height: 24px;
}

#tik-icon {
    margin-top: 19px;
    margin-left: 25px;
    width: 33px;
    height: 24px;
}

/* main style */
main {
    width: 1920px;
    height: 5927px;
    margin: 0 240px;
}

.goat {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.goat-1 {
    background-image: url('../images/Group\ 14.png');
    width: 901px;
    height: 700px;
}

.goat-2 {
    margin-top: 35px;
}

.goat-des {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-top: 150px;
}

.goat-des-1 {
    font-size: 95px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 30px;
}

.span-1 {
    color: #be50d3;
}

.icon-a {
    display: flex;
}

.icon-des {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.btn {
    margin-top: 40px;
    gap: 10px;
}

.btn-primary {
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ff42a5;
    border-radius: 48px;
    border: none;
}

.btn-primary-1 {
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    background-color: #4EC5F7;
}

